# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# AI models 
*.h5
*.pt
*.pkl

# node
node_modules/