Django==5.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9.10
dj-database-url==2.3.0
python-dotenv==1.1.0
google-auth==2.49.2
requests==2.33.1
numpy==1.26.4
opencv-python==4.8.0.76
tensorflow==2.15.0
keras==2.15.0
ml-dtypes==0.5.4
protobuf==3.20.3
mediapipe==0.10.9
fer==22.5.1
moviepy==1.0.3
librosa==0.10.2
xgboost==2.1.4
scikit-learn==1.3.2
scipy==1.11.4
pandas==2.1.4
groq==0.9.0
httpx==0.27.0
joblib==1.4.2
cloudinary==1.36.0
ffmpeg-python==0.2.0
Pillow==10.2.0
reportlab